// Media queries

$mobileWidth: 1000px;
$desktopWidth: 1200px;
$desktopHeight: 1000px;

// Image

$imageHeight: 68vh;

// Border

$borderSharp: 0.3rem;
$border: 0.8rem;
$borderSoft: 1rem;

// Header

 $headerHeight: 8vh;

// Colors

$brown: rgb(178, 113, 85);
$pink: rgb(255, 108, 179);
$violet: rgb(200, 112, 191);
$lightViolet: rgb(255, 195, 249);
$cyan: rgb(201, 252, 246);
$deepCyan: rgb(53, 188, 172);
$blue: rgb(0, 179, 218);
$lightBlue: rgb(196, 241, 255, 23);
$deepBlue: rgb(65, 115, 190, 66);
$deepYellow: rgb(225, 156, 22);
$green: rgb(155, 253, 152);
$lightGreen: rgb(220, 253, 201);
$deepGreen: rgb(57, 137, 75, 58);
$red: rgb(255, 199, 199);
$lightRed: rgb(255, 216, 216);
$deepRed: rgb(230, 107, 107);

$frameBackground: rgb(167, 224, 194, 80);
$reportButtonBackground: rgba(255, 0, 0, 0.2);

$shadowColor: rgb(0,0,0, 0.5);

$textColor: rgb(73, 73, 73, 100);
$textShadowColor: rgba(255, 255, 255, 0.25);
$textHover: rgb(65, 44, 0);
$redHover: rgba(230, 107, 107, 0.24);

$buttonOuter: rgb(223, 247, 255, 13);
$buttonOuterHover: rgb(255, 245, 214);
$buttonHover: rgb(255, 235, 170);

$borderColor: rgb(169, 169, 169);

$ratingTrash: rgb(128, 0, 0);
$ratingExcellent: rgb(0, 255, 0);
$ratingPerfect: rgb(255, 255, 0);

$displayBackground: rgb(238, 252, 255)