@import "../../style/constants.scss";

.container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.authenticationLabel {
    margin: 0;
}
.label, .authenticationLabel {
    color: $textColor;
}

.emailInput {
}
.passwordInput {
}